#ignores
.env



#modules
node_modules



# Logs
npm-debug.log
pnpm-debug.log
yarn-error.log
logs
*.log

# Editor
.vscode
.idea

# Prisma
prisma/dev.db
prisma/migrations

# Docker
docker-compose.override.yml